body {
    background-color: navajowhite;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    margin: 0 auto;
}

.container div {
    border: 1px solid black;
    width: 58px;
    height: 58px;
    box-sizing: border-box;
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    margin: 25px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid black;
}